.board-square {
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align:top;
}

.board-square__highlight {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  background-color: yellow;
}

.square-wrapper {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 0;
  vertical-align:top;
}

.square {
  height: 100%;
  width: 100%;
  text-shadow: 2px 2px #BBBBBB;
}

.black-square {
  background-color: black;
  text-shadow: 2px 2px #222222;
  color: white;
}

.knight {
  font-size: 5em;
  cursor: move;
  background-color: none;
}

.board {
  width: 800px;
  height: 800px;
  border: 1px solid black;
}
